.main-wrapper {
    min-height: 94vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #16151f;
    padding-bottom: 60px;
    user-select: none;

    .monster_1 {
        width: 20vw;
        height: auto;
        position: absolute;
        top: 600px; 
        left: 0px;

        @media screen and (max-width: 3900px){
            top: 500px; 
        }

        @media screen and (max-width: 2900px){
            top: 450px; 
        }

        @media screen and (max-width: 2100px){
            top: 400px; 
        }

        @media screen and (max-width: 1600px){
            top: 300px; 
        }

        @media screen and (max-width: 1150px){
            top: 200px; 
        }

        @media screen and (max-width: 600px){
            display: none; 
        }
    }
    .monster_2 {
        width: 20vw;
        height: auto;
        position: absolute;
        top: 550px; 
        right: 0px;

        @media screen and (max-width: 3900px){
            top: 450px; 
        }

        @media screen and (max-width: 2900px){
            top: 400px; 
        }

        @media screen and (max-width: 2100px){
            top: 350px; 
        }

        @media screen and (max-width: 1600px){
            top: 280px; 
        }

        @media screen and (max-width: 1150px){
            top: 200px; 
        }

        @media screen and (max-width: 600px){
            display: none; 
        }
    }
    .gold_1 {
        width: 50vw;
        height: auto;
        position: absolute;
        top: 1300px; 
        left: 0px;

        @media screen and (max-width: 3900px){
            top: 1100px; 
        }

        @media screen and (max-width: 2900px){
            top: 900px; 
        }

        @media screen and (max-width: 2100px){
            top: 700px; 
        }

        @media screen and (max-width: 1600px){
            top: 500px; 
        }

        @media screen and (max-width: 1150px){
            top: 370px; 
        }

        @media screen and (max-width: 900px){
            top: 330px; 
        }

        @media screen and (max-width: 600px){
            width: 90vw;
            top: 260px; 
            left: -160px;
        }
    }
    .gold_2 {
        width: 30vw;
        height: auto;
        position: absolute;
        top: 1100px; 
        right: 0px;

        @media screen and (max-width: 3900px){
            top: 900px; 
        }

        @media screen and (max-width: 2900px){
            top: 700px; 
        }

        @media screen and (max-width: 2100px){
            top: 600px; 
        }

        @media screen and (max-width: 1600px){
            top: 450px; 
        }

        @media screen and (max-width: 1150px){
            top: 320px; 
        }

        @media screen and (max-width: 900px){
            top: 280px; 
        }

        @media screen and (max-width: 600px){
            width: 90vw;
            top: 230px; 
            right: -110px;
        }
    }
}
