.card-wrapper {
    height: 299px;
    width: 217px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: auto;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 0 8px;
    }

    .frame {
        position: absolute; 
        height: 299px;
        width: 217px;

        .discount-frame {
            position: absolute; 
            height: 78px;
            width: 96px;
        }
    }

    .card-items {
        display: flex;
        flex-direction: column;

        .count {
            color: #ffffff;

            p:nth-of-type(1) {
                font-size: 30px;
                font-weight: 600;
                margin: 0;
            }

            p:nth-of-type(2) {
                font-size: 14px;
                margin: 0;
            }
        }

        .card-btn {
            width: 154px;
            height: 47px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to right, #242333, #3C3B53);
            border: 3px solid #682FBD;
            border-radius: 30px;
            margin-top: 20px;

            p {
                color: #ffffff;
                font-size: 14px;
                font-weight: 600;
            }

            img {
                margin: 0 4px 0 20px;
            }
        }
    }

    @media screen and (max-width: 930px){
        height: 171px;
        width: 124px;

        .frame {
            height: 171px;
            width: 124px;

            .discount-frame {
                height: 56px;
                width: 65px;
            }
        }

        .card-items {
            align-items: center;

            .value {
                width: 80px;
            }

            .count {
    
                p:nth-of-type(1) {
                    font-size: 18px;
                    font-weight: 500;
                }
    
                p:nth-of-type(2) {
                    font-size: 10px;
                    margin: 0;
                }
            }
    
            .card-btn {
                width: 100px;
                height: 27px;
                border: 2px solid #682FBD;
                margin-top: 10px;
    
                p {
                    font-size: 10px;
                    font-weight: 500;
                }
    
                img {
                    width: 6px;
                    margin: 0 2px 0 10px;
                }
            }
        }
    }
}
